extends layout

mixin input(id, type, help, value)
	- var val = value ? value : '';
	input(id='#{id}', name='#{id}', type='#{type}', placeholder='#{help}', value='#{val}')

block content

	.page-title
		h1 Register <small>get into the app</small>
		p Already have an account? Just <a href="/login">Log-in</a>.

	if error
		.alert.alert-danger
			//- button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
			strong There was an error in your submission
			case error
				when 'user'
					p You forgot to enter a username.
				when 'pass'
					p You forgot to enter a password.
				when 'mail'
					p You forgot to enter an email address.
				when 'cred-user'
					p.
						The username you provided already exists. Should you try
						<a href="/login?user=#{user}">logging-in</a>?
				when 'cred-mail'
					p.
						The email address you provided is already registered. Should you try
						<a href="/login?user=#{user}">logging-in</a>?

	.row

		.col-md-4
			h3 Classical
			form.form-horizontal(role='form', method='post')

				.form-group
					label.control-label.col-sm-3(for='username') Username
					.col-sm-9
						+input('username', 'text', 'Dalaraxis', user)

				.form-group
					label.control-label.col-sm-3(for='password') Password
					.col-sm-9
						+input('password', 'password', 'iamthelichking', null)

				.form-group
					label.control-label.col-sm-3(for='email') Email
					.col-sm-9
						+input('email', 'email', 'special@snowflake.com', mail)

				.form-group
					.col-sm-offset-3.col-sm-9
						button.btn.btn-success(type='submit') Create

		//- Will take care of this later

			.col-md-4
				h3 Social
				p TODO: Facebook
				p TODO: Google+
				p TODO: Twitter

			.col-md-4
				h3 SQRL
				p TODO: SQRL code
